body {
    background-color:#F9DF85;
    opacity: 0.9;
}

#enter {
    font-size: 22px;
    font-family: Georgia, Monaco, monospace;
}

.twoThirds {
    text-align:right;
    position: absolute;
    top: 33%;
    right: 10%;
}

#secNav {
    cursor: pointer;
    font-size:20px;
    font-family: Georgia, Monaco, monospace;
}

#secNav:hover li::after {
    content: 'YES!';
    list-style-type: 'square';
    text-color: blue;
}

.myClass:hover li::after {
    text-color: red;
}
