body {
    background-color:#F9DF85;
    opacity: 0.9;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
}

#enter {
    font-size: 26px;
    font-family: Georgia, Monaco, monospace;
}

.twoThirds {
    text-align:right;
    position: absolute;
    top: 33%;
    right: 10%;
}

#secNav li {
    list-style: none;
    font-size: 18px;
}

#secNav li:after {
    content: "+";
    width: 15px;
    padding: 10px;
    font-family: monospace;
}

#secNav li:hover:after {
    content: "\00D7";
}
