.nav td a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: Georgia, Monaco, monospace;
}
.nav td {
//    background-color: #12dd09;
//    font-family: Alegreya;
//    border: solid 1px #cf5300;
//    border-bottom-left-radius: 10px;
//    border-bottom-right-radius: 10px;
    padding: 15px;
//    width: 85px;
//    height: 50px;
    text-align: center;
    font-variant: small-caps;
}
.nav td:hover a {
/*    background-color: CornflowerBlue;
    font-family: Alegreya;
    border: solid 1px #cf5300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;*/
    color: #3333cc;
}
.nav {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    position: absolute;
}
h1 {
    margin: auto;
    width: 20%;
    padding: 25px;
    text-align: center;
}
.footer {
    height: 50px;
    }
.red {
    background-color: #901101;
}
.container {
    position: relative;
}
#hi {
    text-align: center;
    width: 35%;
    margin: auto;
    font-size: 18px;
}
a {
    color: #666;
}
a:hover {
    color: #3333cc;
}